[submodule "chattea-be"]
	path = chattea-be
	url = https://github.com/ChatTeaDot/chattea-be.git
[submodule "chattea-fe"]
	path = chattea-fe
	url = https://github.com/ChatTeaDot/chattea-fe.git
[submodule "chattea-terraform-aws"]
	path = chattea-terraform-aws
	url = https://github.com/ChatTeaDot/chattea-terraform-aws.git
